Package: archsys
Version: 0.2.2
Section: base
Priority: optional
Architecture: all
Maintainer: Proship IT Team <it@proship.com>
Description: Custom scala script to backup critical Proship infrastructure
