Package: archsys
Version: 0.2.2
Section: admin
Priority: optional
Depends: scala (>= 2.9.0), xz-utils, tar, xinetd, rsync, mount, file, coreutils
Architecture: all
Maintainer: Proship IT Team <it@proship.com>
Description: Server backup script
